/__pycache__
/PyEFVLib/__pycache__
/apps/__pycache__
/PyEFVLib/simulation/__pycache__
/PyEFVLib/geometry/__pycache__
/PyEFVLib/simulation/CGNS/build/CMakeCache.txt
/PyEFVLib/simulation/CGNS/build/CMakeFiles
/PyEFVLib/simulation/CGNS/build/cmake_install.cmake
